.bgc-dark {
  background-color: #48484a;
}

.image {
  margin: 0;
  padding: 0;
}

nav p {
  color: #f2f2f2;
  margin: 0;
}

.logo {
  margin: 0 50px 0 250px;
}

@media (max-width: 900px) {
  nav p {
    display: none;
  }
  .nav-main {
    justify-content: center;
  }
  .logo {
    margin: 0;
  }
}
