.orange-text {
  color: #eb6e4b;
  font-weight: 600;
  font-size: 40px;
}

.btn-color {
  background-color: #48484a;
  color: #f2f2f2;
  box-shadow: none;
}

.btn-color:hover {
  background-color: green;
  box-shadow: none;
}

.weather-info > p {
  margin-bottom: 0;
}

.weather-content {
  min-height: 500px;
}

.btn-color:active {
  background-color: darkgreen;
  box-shadow: none;
}
